body {
text-align: center;


}
#seçao1{
background:linear-gradient(#c2bfaa 0%,#c9be24 100%) ;

}
#Imag {
border-radius: 20px;

}
h1 {
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}

.menu {
list-style: none;
position: fixed;
z-index: 10;
cursor: pointer;
background:white ;
width: 100%;
margin-top: 0px;
top: 0px;
color: rgb(0, 0, 0);
}


.itens{
display: inline;
font-size: 20px;
font-family:fantasy;
padding-left: 33px;
padding-right: 25px;
color: rgb(0, 0, 0);
}

.itens:hover{
font-size: 25px;
text-decoration: underline;
    
}
#Miles{
 font-family: 'Raleway', sans-serif;



}
.contact_1 h3{
display: inline;


}